komuta/paketdepo.ayar
komuta/paketmd5.txt
nohup.out
kondarma/*
log/*
!kondarma/beni.oku
*.pyc
butterfly/*.crt
butterfly/*.key
butterfly/*.p12
butterfly/*.pyc
butterfly/node_modules/
butterfly/*.src.coffee
butterfly/*.map
butterfly/sass/scss
butterfly/*.egg-info/
butterfly/build/
