[Desktop Entry]
Name=Komutan
Comment=Milis Komutan Yazılımı
Exec=/opt/komutan/sunucu.sh
Terminal=false
Type=Application
Icon=komutan
Categories=System;
