[Desktop Entry]
Path=/opt/komutan
Name=Komutan
Comment=Milis Komutan Yazılımı
Exec=./sunucu.sh 
Terminal=false
Type=Application
Icon=komutan
Categories=System;
