<html rel="shortcut icon" href="ok.png">
<head>
<META http-equiv="content-type" contentType="text/html; charset=UTF-8">
<title>AĞ AYARLARI</title>
<meta http-equiv="content-type" contentType="text/html; charset=UTF-8">
<link rel="stylesheet" href="./static/css/reset.css" />
<script src="../static/jquery.js"></script>
<script src="../static/jquery.min.js"></script>
<script src="../static/js/jquery-ui.js"></script>
<script src="../static/js/jquery.form.min.js"></script>
<script src="../static/js/jquery.tablesorter.min.js"></script>
<script src="../static/js/jquery.blockUI.js"></script>
<script src="../static/js/shortcut.js"></script>
<script src="{{url_for('static', filename='js/jquery.tablesorter.min.js')}}"></script>
<link rel="stylesheet"
	href="{{url_for('static', filename='css/table2.css')}}" type="text/css"
	id="" media="print, projection, screen">

<style type="text/css">
#ag_bilgi {
    white-space:pre;
}
</style>
<script>
$(document).ready(function() {
	
	$.ajax({
		url : "/ag_bilgi"
	}).done(function(data) {
		$("#ag_bilgi").html(data);
	});
});	
</script>
<body>
	<h2>Ağ Ayarları</h2>
	<div id=terminal class=terminal></div>
	<div id=ag_bilgi class=ag_bilgi></div>
	<p>
	<hr noshade size="1">
	
    <a href="../exit">ÇIKIŞ</a><br>
</body>
</html>
