
<html rel="shortcut icon" href="ok.png">
<head>
<META http-equiv="content-type" contentType="text/html; charset=UTF-8">
<title>KOMUTAN - LINUX BİLİG BETİK SUNUCUSU</title>
</head>
<body>
	<h2>KOMUTAN ANASAYFA</h2>
	<div>
	<a href="/komutaModul">KOMUTA MERKEZİ</a> <br>
	<a href="/mpsModul">mps web management</a> <br>
	<a href="/surecModul">SÜREÇ MODÜLÜ</a> <br>
	<a href="/arayuzModul">ARAYÜZ MODÜLÜ</a> <br>
	<a href="/agModul">AĞ AYARLARI</a> <br>
	<a href="/servisModul">SERVİS AYARLARI</a> <br>
	
	</div>
	<p>
	<hr noshade size="1">
	
    <a href="../cikis">ÇIKIŞ</a><br>
</body>
</html>
