<!DOCTYPE html>
<html>
<head>
   <title>KOMUTAN - LINUX BİLİG BETİK SUNUCUSU</title>
   <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link href="/static/bootstrap/css/styles.css" rel="stylesheet">
   <script src="/static/jquery.min.js"></script>
   <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	
<h2 style="color:white;">MENU</h2>

	<a href="/komutaModul" class = "list-group-item">KOMUTA MERKEZİ</a>  
	<a href="/rehberModul" class = "list-group-item">REHBER-MİLİS WİKİ</a>  
	<a href="/mpsModul" class = "list-group-item">MPS WEB</a> 
	<a href="/surecModul" class = "list-group-item">SÜREÇ MODÜLÜ</a> 
	<a href="/arayuzModul" class = "list-group-item">ARAYÜZ MODÜLÜ</a> 
	<a href="/agModul" class = "list-group-item">AĞ AYARLARI</a> 
	<a href="/raporModul" class = "list-group-item">RAPOR</a> 
	<a href="/servisModul" class = "list-group-item">SERVİS AYARLARI</a> 
	<a href="/komutanGuncelle" class = "list-group-item">KOMUTAN GÜNCELLE</a> 
	<a href="../cikis" class = "list-group-item">ÇIKIŞ</a> 

</body>
</html>
