<html xml:lang="tr" lang="tr" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Komuta Merkezi</title>
<meta http-equiv="content-type" contentType="text/html; charset=UTF-8">
<link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="./static/bootstrap/css/styles.css" />
<script src="../static/jquery.js"></script>
<script src="../static/jquery.min.js"></script>
<script src="../static/js/jquery-ui.js"></script>
<script src="../static/js/jquery.form.min.js"></script>
<script src="../static/js/jquery.tablesorter.min.js"></script>
<script src="../static/js/jquery.blockUI.js"></script>
<script src="../static/js/shortcut.js"></script>
<script src="{{url_for('static', filename='js/jquery.tablesorter.min.js')}}"></script>
<link rel="stylesheet"
	href="{{url_for('static', filename='css/table2.css')}}" type="text/css"
	id="" media="print, projection, screen">

<script>
	$(document).ready(function() {
		
		$('#calismakod').hide();
		$("#yukleniyor").hide();
		
		shortcut.add("ctrl+R", function() {
			//event.preventDefault();
			$("#calistir").click();
	    });
		
		$('#calistir').on('click', function(event){
			event.preventDefault();
			$("#raporalan").html("komut calisiyor....");
			$("#yukleniyor").show();
			var spans = $('#arayuz_alan').find('input');
			// Loop through all the spans inside this div
			spans.each(function(){
				console.log($(this).attr('id'),"Çıktı: \n"+$(this).val());
			})
			var formOption = {
				url				: "/komutCalistir",
				type			: "POST",
				target	:"#raporalan",
				success			: sonucGetir
				//beforeSubmit 	: kontrolStkHarListSil
			};
			$('#raporForm').ajaxSubmit(formOption);
		});
		
		$('#calismalist').change(function(){
			komutdosya=$('#calismalist').val();
			$.ajax({
				url : "/calismaAl?mod="+$('#mod').val() +"&dosya="+komutdosya,
			}).done(function(data) {
				$("#calismakod").val(data);
				if(komutdosya.indexOf('.sh') != -1){
					$('#arayuz_alan').html("");
					datalar=data.split("\n");
					$.each( datalar, function( index, value ){
					if (( value.indexOf('=') != -1 ) && ( value.indexOf('if ') == -1 )){
						//console.log(value);
						 deger=value.split('=')[1];
						 girdi_ad=value.split('=')[0];
						 input_tip='text'
						 if (girdi_ad.toLowerCase().indexOf("sifre") >= 0){
							input_tip='password';
						 }
						 $("#arayuz_alan").append("<div class=element>");
						 $("#arayuz_alan").append("<dt>"+girdi_ad+"</dt>");
						 $("<input class='btn' type="+input_tip+" value="+deger+" />")
						 .attr("id", girdi_ad)
						 .attr("name",girdi_ad)
						 .attr("size",deger.length+4)
						 .attr("ondblclick","this.value=''")
						 .appendTo("#arayuz_alan");
						 $("#arayuz_alan").append("</element>");
					}
					});		
				}else{
					$('#arayuz_alan').html("");
					$("#calismakod").val(data);
				}	
			});
				
			
		});
		
		$('#yeniKaydet').on('click', function(event){
			event.preventDefault();
			$('#kayitmodu').val('w');
			var formOption = {
				url				: "/calismaKaydet",
				type			: "POST",
				success: function (data) {
					if(data=='tamam'){
						islemTamam("Yeni Komut Kaydı Yapıldı.");
					}else{
						hataGoster(data);
					}
				}
			};
			$('#raporForm').ajaxSubmit(formOption);
		});
		
		$('#guncelle').on('click', function(event){
			event.preventDefault();
			$('#kayitmodu').val('a');
			var formOption = {
				url				: "/calismaKaydet",
				type			: "POST",
				success: function (data) {
						if(data=='tamam'){
							islemTamam("Komut Güncellendi.");
						}else{
							hataGoster(data);
						}
					}
			};
			$('#raporForm').ajaxSubmit(formOption);
		});
		
		$('#komutgg').on('click', function(event){
			event.preventDefault();
			//window.open("/arayuzModul?kd="+$('#calismalist').val(),'_newtab');
			$('#calismakod').toggle();
		});	
		
	});
	
	function sonucGetir(res, statusText, xhr, $form) {
		//console.log(res);
		if(res!='None'){
			$('#yukleniyor').hide();
			$("#raporalan").html("");
			$("#raporalan").html(res);
			$("#hareketrapor").tablesorter();
		}
	}
	
	function islemTamam(message) {
		// TODO: hata mesajı dön
		$.blockUI({ 
            message: message, 
            fadeIn: 500, 
            fadeOut: 500, 
            timeout: 2000, 
            showOverlay: false, 
            centerY: false, 
            css: { 
                width: '550px',
                top: '6px', 
                left: '', 
                right: '100px', 
                border: 'none', 
                padding: '10px', 
                backgroundColor: '#080', 
                '-webkit-border-radius': '6px', 
                '-moz-border-radius': '6px', 
                'border-radius': '6px',
                opacity: .6, 
            	'font-style': 'italic',
	        	'font-weight': 'normal',
	        	'font-family': 'Georgia, "Times New Roman", Times, serif',
	        	'font-size': '16px',
	        	color: '#fff'
            }
        });
	}
	
	function hataGoster(message) {
		
		console.log("HATA:" + message);
		$.blockUI({ 
            message: message, 
            fadeIn: 500, 
            fadeOut: 500, 
            timeout: 2000, 
            showOverlay: false, 
            centerY: false, 
            css: { 
                width: '550px',
                top: '6px', 
                left: '', 
                right: '100px', 
                border: 'none', 
                padding: '10px', 
                backgroundColor: '#900', 
                '-webkit-border-radius': '6px', 
                '-moz-border-radius': '6px', 
                'border-radius': '6px',
                opacity: .6, 
            	'font-style': 'italic',
	        	'font-weight': 'normal',
	        	'font-family': 'Georgia, "Times New Roman", Times, serif',
	        	'font-size': '16px',
	        	color: '#fff',
                
            }
        });
	}
	
</script>
</head>

<body> 
<div class=anasablon>
	<div class="ustpanel">
		<a href="/"><h3><span class="glyphicon glyphicon-home beyaz col-xs-1"></span></h3></a>
		<a href="/mpsModul"><h3><span class="glyphicon glyphicon-save beyaz col-xs-1"></span></h3></a>
		<a href="/surecModul"><h3><span class="glyphicon glyphicon-tasks beyaz col-xs-1"></span></h3></a>
		<a href="/agModul"><h3><span class="glyphicon glyphicon-signal beyaz col-xs-1"></span></h3></a>
		<a href="/servisModul"><h3><span class="glyphicon glyphicon-cog beyaz col-xs-1"></span></h3></a>
		<a href="/komutanGuncelle"><h3><span class="glyphicon glyphicon-refresh beyaz col-xs-1"></span></h3></a>
		<a href="/cikis"><h3><span class="glyphicon glyphicon-remove beyaz col-xs-1"></span></h3></a>
		<span class="col-xs-12"></span>
		<br>
	</div>
	<br>
	<br>
	<h3 class="beyaz">Komuta Merkezi</h3>
	<p class="beyaz">
		Komuta Merkezi, faydalı betikler oluşturup çalıştırabilmenizi sağlayan bir kontrol panelidir...
	</p>
	<div class="formalan">
		<form id=raporForm name=raporForm action="{{ url_for('komutaModul') }}" method=post>
		<div class="col-xs-6">
			<select name="calismalist" id="calismalist" class="btn" style="width: 250px;" > 
			{% for komut in komutlar %}<option>{{komut}}</option>{% endfor %}
			</select>
			<input type="submit" name="calistir" id="calistir" class="btn" value="Çalıştır" tabindex="-1"/>
		</div>		
		<div class=element>
		<div class=arayuz_alan id=arayuz_alan></div>
		</div>
		<div class=element>
		
		</div>
		<div class="form-group" style="margin-top: 30px"; >
			<input type=submit id=komutgg name=komutgg  class="btn" value=arayüz tabindex="-1" >
			<input type=text id=yenicalisma name=yenicalisma class="btn" value=yeni.sh tabindex="-1" style="width: 150px;"/>
			<input type="submit" name="yeniKaydet" id="yeniKaydet" class="btn" value="Yeni Kaydet" tabindex="-1"/>
			<input type="submit" name="guncelle" id="guncelle" class="btn" value="Güncelle" tabindex="-1"/>
		</div>
		<input id="mod" name="mod"  hidden value="{{mod}}" />
		<input id="kayitmodu" name="kayitmodu"  hidden value="{{kayitmodu}}" />
		<hr noshade size=2>
		<div class=element>
		<textarea id=calismakod name=calismakod value="" ondblclick=this.value='' style="font-size: 14px;;margin-top: 3px;width:400px;height: 200px; color:white;background-color:black "></textarea>
		</div>
		</form>
		
		
		
	</div>
	<div id='genelalan' class="genelalan" tabindex="-1">
		<div class="panel" id="raporalan">
			Çıktı:
			<div id='yukleniyor'  class='yukleniyor'><img src='/static/yukleniyor.gif'/></div>
		</div>
		
		<div id="fsb"></div>
	</div>
</div>
</body>
</HTML>
