<html xml:lang="tr" lang="tr" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Komutan Ayarlar Modülü</title>
<meta http-equiv="content-type" contentType="text/html; charset=UTF-8">
<link rel="stylesheet" href="./static/css/reset.css" />
<script src="../static/jquery.js"></script>
<script src="../static/jquery.min.js"></script>
<script src="../static/js/jquery-ui.js"></script>
<script src="../static/js/jquery.form.min.js"></script>
<script src="../static/js/jquery.tablesorter.min.js"></script>
<script src="../static/js/jquery.blockUI.js"></script>
<script src="../static/js/shortcut.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/js.cookie.js"></script>

<script src="{{url_for('static', filename='js/jquery.tablesorter.min.js')}}"></script>
<link rel="stylesheet" href="/static/css/balloon.min.css">
<link rel="stylesheet" href="/static/js/awesomplete.css" />
<link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="./static/bootstrap/css/styles.css" />
<link rel="stylesheet" href="./static/bootstrap/css/ayarlar.css" />
<script src="/static/js/awesomplete.js"></script>
<link rel="stylesheet"
	href="{{url_for('static', filename='css/table2.css')}}" type="text/css"
	id="" media="print, projection, screen">

<style type="text/css">

body {
	background-image: url('/static/bootstrap/img/bg.jpg');
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

</style>
<script>
	$(document).ready(function() {
		
		var bg = Cookies.get('mlsBg');
		$('#aplanlist').val(bg);
		$('body').css({"background" : 'url('+bg+')  center center no-repeat fixed', "-webkit-background-size":"cover", "-moz-background-size":"cover","-o-background-size":"cover","background-size":"cover","margin":"20px 20px 20px 20px"});
		
		
		shortcut.add("ctrl+K", function() {
			//event.preventDefault();
			$("#guncelle").click();
	    });
		/*
		$('#aplanlist').on('click', function(event){
			islem="aplan_degistir"
			aplan=$('#aplanlist').val();
			$.ajax({
				url : "/komutanAyarIslem?islem="+islem+"&dosya="+aplan,
			}).done(function(data) {
				islemTamam("tamam");
			});	
		});
		*/
		$('#aplanlist').change(function() {
			var selectedBg = $('#aplanlist').val();
			console.log(selectedBg);
			Cookies.set('mlsBg', selectedBg);
			location.reload();
		});
		
		$('#test').on('click', function(event){
			event.preventDefault();
			//console.log($('#tinypic_plugin_333').contents().find('#direct-link').val());
			var iframe = document.getElementById('tinypic_plugin_333');
			var innerDoc = iframe.contentDocument || iframe.contentWindow.document;
			var input = innerDoc.getElementById('direct-link');
			console.log(input);
		});

		
	});
	
	function sonucGetir(res, statusText, xhr, $form) {
		//console.log(res);
		if(res!='None'){
			$('#yukleniyor').hide();
			$("#raporalan").html("");
			$("#raporalan").html(res);
			$("#hareketrapor").tablesorter();
		}
	}
	
	function islemTamam(message) {
		// TODO: hata mesajı dön
		$.blockUI({ 
            message: message, 
            fadeIn: 500, 
            fadeOut: 500, 
            timeout: 2000, 
            showOverlay: false, 
            centerY: false, 
            css: { 
                width: '550px',
                top: '6px', 
                left: '', 
                right: '100px', 
                border: 'none', 
                padding: '10px', 
                backgroundColor: '#080', 
                '-webkit-border-radius': '6px', 
                '-moz-border-radius': '6px', 
                'border-radius': '6px',
                opacity: .6, 
            	'font-style': 'italic',
	        	'font-weight': 'normal',
	        	'font-family': 'Georgia, "Times New Roman", Times, serif',
	        	'font-size': '16px',
	        	color: '#fff'
            }
        });
	}
	
	function hataGoster(message) {
		
		console.log("HATA:" + message);
		$.blockUI({ 
            message: message, 
            fadeIn: 500, 
            fadeOut: 500, 
            timeout: 2000, 
            showOverlay: false, 
            centerY: false, 
            css: { 
                width: '550px',
                top: '6px', 
                left: '', 
                right: '100px', 
                border: 'none', 
                padding: '10px', 
                backgroundColor: '#900', 
                '-webkit-border-radius': '6px', 
                '-moz-border-radius': '6px', 
                'border-radius': '6px',
                opacity: .6, 
            	'font-style': 'italic',
	        	'font-weight': 'normal',
	        	'font-family': 'Georgia, "Times New Roman", Times, serif',
	        	'font-size': '16px',
	        	color: '#fff',
                
            }
        });
	}

</script>

</head>

<body> 

<div class="mheader" tabindex="-1">
	<div data-balloon="Ana Menü" data-balloon-pos="down" class="col-xs-1"><a href="/"><h3><span class="glyphicon glyphicon-home beyaz"></span></h3></a></div>
	<div data-balloon="Komuta Merkezi" data-balloon-pos="down" class="col-xs-1"><a href="/komutaModul"><h3><span class="glyphicon glyphicon-wrench beyaz"></span></h3></a></div>
	<div data-balloon="Rehber(Wiki) Modülü" data-balloon-pos="down" class="col-xs-1"><a href="/rehberModul"><h3><span class="glyphicon glyphicon-book beyaz"></span></h3></a></div>
	<div data-balloon="Yazılım Merkezi (MPS Web)" data-balloon-pos="down" class="col-xs-1"><a href="/mpsModul"><h3><span class="glyphicon glyphicon-briefcase beyaz"></span></h3></a></div>
	<div data-balloon="Süreç Modülü" data-balloon-pos="down" class="col-xs-1"><a href="/surecModul"><h3><span class="glyphicon glyphicon-tasks beyaz"></span></h3></a></div>
	<div data-balloon="Ağ Modülü" data-balloon-pos="down" class="col-xs-1"><a href="/agModul"><h3><span class="glyphicon glyphicon-signal beyaz"></span></h3></a></div>
	<div data-balloon="Servis Modülü" data-balloon-pos="down"  class="col-xs-1"><a href="/servisModul"><h3><span class="glyphicon glyphicon-cog beyaz"></span></h3></a></div>
	<div data-balloon="Kurulum" data-balloon-pos="down"  class="col-xs-1"><a href="/kurulum"><h3><span class="glyphicon glyphicon-download-alt beyaz"></span></h3></a></div>
	<div data-balloon="Komutan Güncelle" data-balloon-pos="down" class="col-xs-1"><a href="/komutanGuncelle"><h3><span class="glyphicon glyphicon-refresh beyaz"></span></h3></a></div>
	<div data-balloon="Oturumu Kapat" data-balloon-pos="down" class="col-xs-1"><a href="/cikis"><h3><span class="glyphicon glyphicon-remove beyaz"></span></h3></a></div>
	<span class="col-xs-12"></span>
	<br>
</div>
<br>
<div class="container">
	<div class="row">
	  <div class="col-md-12">
		<div class="well well-lg">
	
		<form id=raporForm name=raporForm action="{{ url_for('rehberModul') }}" method=post>
		<fieldset>
			<legend class="text-center">Komutan Ayarlar Sayfası</legend>
			
			<div class="form-group">
				<div class="col-md-4">	
					<label>Arkaplan resmi ayarlama</label>
					<select class="form-control" name="aplanlist" id="aplanlist" style="width: 450px;" > 
					{% for aplan in aplanlar %}<option>{{aplan}}</option>{% endfor %}
					<option value="https://github.com/yasarciv/milis-gorsel/raw/master/komutan-arkaplan/resim-1.pjpg">resim1</option>
					<option value="https://github.com/yasarciv/milis-gorsel/raw/master/komutan-arkaplan/resim-2.jpg">resim2</option>
					<option value="https://github.com/yasarciv/milis-gorsel/raw/master/komutan-arkaplan/resim-3.png">resim3</option>
					<option value="https://github.com/yasarciv/milis-gorsel/raw/master/komutan-arkaplan/resim-4.png">resim4</option>
					<option value="https://github.com/yasarciv/milis-gorsel/raw/master/komutan-arkaplan/resim-5.png">resim5</option>
					<option value="https://github.com/yasarciv/milis-gorsel/raw/master/komutan-arkaplan/resim-6.JPG">resim6</option>
					<option value="https://github.com/yasarciv/milis-gorsel/raw/master/komutan-arkaplan/resim-7.png">resim7</option>
					<option value="https://github.com/yasarciv/milis-gorsel/raw/master/komutan-arkaplan/resim-8.png">resim8</option>
					<option value="https://github.com/yasarciv/milis-gorsel/raw/master/komutan-arkaplan/resim-9.png">resim9</option>
					<option value="https://github.com/yasarciv/milis-gorsel/raw/master/komutan-arkaplan/resim-10.png">resim10</option>
					<option value="https://github.com/yasarciv/milis-gorsel/raw/master/komutan-arkaplan/resim-11.png">resim11</option>
					<option value="https://github.com/yasarciv/milis-gorsel/raw/master/komutan-arkaplan/resim-12.jpg">resim12</option>
					<option value="https://github.com/yasarciv/milis-gorsel/raw/master/komutan-arkaplan/resim-13.png">resim13</option>
					</select>
				</div>
			</div>
			<div class="col-md-10">	
			 <input type="submit" class="btn btn-info" name="test" id="test" value="test"  />
			 </div>
			<input id="mod" name="mod"  hidden value="{{mod}}" />
			<input id="kayitmodu" name="kayitmodu"  hidden value="{{kayitmodu}}" />
		</fieldset>
		</form>
	
	
	
		</div>
	  </div>
	</div>
</div>
<iframe src="http://webchat.freenode.net?randomnick=1&channels=%23milisarge&uio=d4" width="647" height="400"></iframe>	
<script src="../static/js/tinypic.js"></script>
</body>
</HTML>
