<html xml:lang="tr" lang="tr" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>KOMUTAN-KURULUM</title>
<meta http-equiv="content-type" contentType="text/html; charset=UTF-8">

<script src="../static/jquery.js"></script>
<script src="../static/jquery.min.js"></script>
<script src="../static/js/jquery-ui.js"></script>
<script src="../static/js/jquery.form.min.js"></script>
<script src="../static/js/jquery.tablesorter.min.js"></script>
<script src="../static/js/jquery.blockUI.js"></script>
<script src="../static/js/shortcut.js"></script>
<link rel="stylesheet" href="/static/css/balloon.min.css">
<link rel="stylesheet" href="/static/js/awesomplete.css" />
<link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="./static/bootstrap/css/styles.css" />
<script src="/static/js/awesomplete.js"></script>
<script src="{{url_for('static', filename='js/jquery.tablesorter.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/table2.css')}}" type="text/css" id="" media="print, projection, screen">

<style type="text/css">

#formalan {
	float: left;
	width: 1000px;
	height: 800px;
}

#pageContainer {
	width: 1556px;
	height: auto;
}

</style>
<script>
	$(document).ready(function() {
		
		$('#calismakod').hide();
		$("#yukleniyor").hide();
		
		shortcut.add("ctrl+R", function() {
			//event.preventDefault();
			$("#calistir").click();
	    });
		
		$('#calistir').on('click', function(event){
			event.preventDefault();
			$("#raporalan").html("komut calisiyor....");
			$("#yukleniyor").show();
			var spans = $('#arayuz_alan').find('input');
			// Loop through all the spans inside this div
			spans.each(function(){
				console.log($(this).attr('id'),$(this).val());
			})
			var formOption = {
				url				: "/komutCalistir",
				type			: "POST",
				target			:"#raporalan",
				success			: sonucGetir
				//beforeSubmit 	: kontrolStkHarListSil
			};
			$('#raporForm').ajaxSubmit(formOption);
		});
		
		$('#kurdisk').on('change', function(event){
			$("#diskbilgi").html("");
			var formOption = {
				url		: "/diskbilgi",
				type	: "POST",
				success: function (data) {
					$("#diskbilgi").html(data);
				}
			};
			$('#raporForm').ajaxSubmit(formOption);
		});
		
		$('#kadlar').on('click', function(event){
			event.preventDefault();
			$("#kadbilgi").html("");
			var formOption = {
				url		: "/kadbilgi_islem",
				type	: "POST",
				success: function (data) {
					$("#kurulumbolum").val(data["disk"]["bolum"]);
					$("#bolumformat").val(data["disk"]["format"]);
					$("#kullisim").val(data["kullanici"]["isim"]);
					$("#kullsifre").val(data["kullanici"]["sifre"]);
					$("#grubkur").val(data["grub"]["kur"]);
				}
			};
			$('#raporForm').ajaxSubmit(formOption);
		});
		
		$('#yeniKaydet').on('click', function(event){
			event.preventDefault();
			$('#kayitmodu').val('w');
			var formOption = {
				url				: "/calismaKaydet",
				type			: "POST",
				success: function (data) {
					if(data=='tamam'){
						islemTamam("Yeni Komut Kaydı Yapıldı.");
					}else{
						hataGoster(data);
					}
				}
			};
			$('#raporForm').ajaxSubmit(formOption);
		});
		
		$('#kadkaydet').on('click', function(event){
			event.preventDefault();
			var formOption = {
				url  : "/kadkaydet_islem",
				type : "POST",
				success: function (data) {
						if(data=='tamam'){
							islemTamam(data);
						}else{
							hataGoster(data);
						}
					}
			};
			$('#raporForm').ajaxSubmit(formOption);
		});
		
		$('#komutgg').on('click', function(event){
			event.preventDefault();
			//window.open("/arayuzModul?kd="+$('#paketara').val(),'_newtab');
			$('#calismakod').toggle();
		});	
		
		$('#diskbol').on('click', function(event){
			event.preventDefault();
			var formOption = {
				url  : "/diskbol_islem",
				type : "POST",
				success: function (data) {
					islemTamam(data);
				}
			};
			$('#raporForm').ajaxSubmit(formOption);
		});
		
		$('#disksec').on('click', function(event){
			event.preventDefault();
			$('#kurulumbolum').val($('#kurdisk').val())
			
		});
		
		$('#bolumformatsecim').on('click', function(event){
			event.preventDefault();
			$('#bolumformat').val($('#bolumformatsecim').val())
			
		});
		
		$('#grubkursecim').on('click', function(event){
			event.preventDefault();
			$('#grubkur').val($('#grubkursecim').val())
			
		});
		
		$('#komutgg').on('click', function(event){
			event.preventDefault();
			//window.open("/arayuzModul?kd="+$('#paketara').val(),'_newtab');
			$('#calismakod').toggle();
		});	
		
	});
	
	function sonucGetir(res, statusText, xhr, $form) {
		//console.log(res);
		if(res!='None'){
			$('#yukleniyor').hide();
			$("#raporalan").html("");
			$("#raporalan").html(res);
			$("#hareketrapor").tablesorter();
		}
	}
	
	function islemTamam(message) {
		// TODO: hata mesajı dön
		$.blockUI({ 
            message: message, 
            fadeIn: 500, 
            fadeOut: 500, 
            timeout: 2000, 
            showOverlay: false, 
            centerY: false, 
            css: { 
                width: '550px',
                top: '6px', 
                left: '', 
                right: '100px', 
                border: 'none', 
                padding: '10px', 
                backgroundColor: '#080', 
                '-webkit-border-radius': '6px', 
                '-moz-border-radius': '6px', 
                'border-radius': '6px',
                opacity: .6, 
            	'font-style': 'italic',
	        	'font-weight': 'normal',
	        	'font-family': 'Georgia, "Times New Roman", Times, serif',
	        	'font-size': '16px',
	        	color: '#fff'
            }
        });
	}
	
	function hataGoster(message) {
		
		console.log("HATA:" + message);
		$.blockUI({ 
            message: message, 
            fadeIn: 500, 
            fadeOut: 500, 
            timeout: 2000, 
            showOverlay: false, 
            centerY: false, 
            css: { 
                width: '550px',
                top: '6px', 
                left: '', 
                right: '100px', 
                border: 'none', 
                padding: '10px', 
                backgroundColor: '#900', 
                '-webkit-border-radius': '6px', 
                '-moz-border-radius': '6px', 
                'border-radius': '6px',
                opacity: .6, 
            	'font-style': 'italic',
	        	'font-weight': 'normal',
	        	'font-family': 'Georgia, "Times New Roman", Times, serif',
	        	'font-size': '16px',
	        	color: '#fff',
                
            }
        });
	}
	
</script>
</head>

<body> 
	<div class=anasablon>
		<div data-balloon="Ana Menü" data-balloon-pos="down" class="col-xs-1"><a href="/"><h3><span class="glyphicon glyphicon-home beyaz"></span></h3></a></div>
		<div data-balloon="Komuta Merkezi" data-balloon-pos="down" class="col-xs-1"><a href="/komutaModul"><h3><span class="glyphicon glyphicon-wrench beyaz"></span></h3></a></div>
		<div data-balloon="Yazılım Merkezi (MPS Web)" data-balloon-pos="down" class="col-xs-1"><a href="/mpsModul"><h3><span class="glyphicon glyphicon-briefcase beyaz"></span></h3></a></div>
		<div data-balloon="Süreç Modülü" data-balloon-pos="down" class="col-xs-1"><a href="/surecModul"><h3><span class="glyphicon glyphicon-tasks beyaz"></span></h3></a></div>
		<div data-balloon="Ağ Modülü" data-balloon-pos="down" class="col-xs-1"><a href="/agModul"><h3><span class="glyphicon glyphicon-signal beyaz"></span></h3></a></div>
		<div data-balloon="Servis Modülü" data-balloon-pos="down"  class="col-xs-1"><a href="/servisModul"><h3><span class="glyphicon glyphicon-cog beyaz"></span></h3></a></div>
		<div data-balloon="Kurulum" data-balloon-pos="down"  class="col-xs-1"><a href="/kurulum"><h3><span class="glyphicon glyphicon-download-alt beyaz"></span></h3></a></div>
		<div data-balloon="Komutan Güncelle" data-balloon-pos="down" class="col-xs-1"><a href="/komutanGuncelle"><h3><span class="glyphicon glyphicon-refresh beyaz"></span></h3></a></div>
		<div data-balloon="Oturumu Kapat" data-balloon-pos="down" class="col-xs-1"><a href="/cikis"><h3><span class="glyphicon glyphicon-remove beyaz"></span></h3></a></div>
		<span class="col-xs-12"></span>
		<br>
	</div>
	<br>
	<br>
	<br>
	<br>
	<h3 class="beyaz">Milis İşletim Sistemi Kurulumu</h3>
	<p class="beyaz">Milis İşletim Sistemini sabit diskinize kurmanıza yardımcı olur.</p>
	<div class="pageContainer">
		<div class=formalan>
			<form id=raporForm name=raporForm action="{{ url_for('mpsModul') }}" method=post>
			<div class=arayuz_alan id=arayuz_alan></div>
			<b class="beyaz">Milis Linux Kurulum Dosyaları</b>
			<select name="kadlar" id="kadlar" style="width: 270px;" > 
			{% for kad in kadlar %}
			<option>{{kad}}</option>
			{% endfor %}
			</select><p>
			<div class=kadbilgi id=kadbilgi></div>
			<b class="beyaz">Sistemdeki Disk Bölümleri</b>
			<select name="kurdisk" id="kurdisk"  style="width: 150px;" > 
			{% for disk in diskler %}
			<option>{{disk}}</option>
			{% endfor %}
			</select>
			<input type="submit" class="btn" name="disksec" id="disksec" value="SEÇ" tabindex="-1" />
			<input type="submit" class="btn" name="diskbol" id="diskbol" value="GPARTED İLE BÖLÜMLEME" tabindex="-1" style="margin-left:15px;" /><p><p>
			<div id=diskbilgi name=diskbilgi style="color:white;"></div><p>	
			<b class="beyaz">Kurulacak Disk Bölümü</b>
			<input type="text" class="txt" name="kurulumbolum" id="kurulumbolum" ondblclick="this.value='' " style="margin-left:10px; margin-right: 15px; width: 100px;"/><p><p>
			<b class="beyaz">Kurulacak Disk Bölüm Formatlama</b>
			<input type="text" class="txt" name="bolumformat" id="bolumformat" ondblclick="this.value='' " style="margin-right: 5px; width: 100px;"/>
			<select name="bolumformatsecim" id="bolumformatsecim"  style="width: 100px;" > 
			<option>evet</option>
			<option>hayir</option>
			</select><p><p>
			<b class="beyaz">Kullanıcı Ekleme - İsim</b>
			<input type="text" class="txt" name="kullisim" id="kullisim" ondblclick="this.value='' " style="margin-right: 5px; width: 150px;"/><p><p>
			<b class="beyaz">Kullanıcı Ekleme - Şifre</b>
			<input type="password" class="txt" name="kullsifre" id="kullsifre" ondblclick="this.value='' " style="margin-right: 5px; width: 150px;"/><p><p>
			<b class="beyaz">Grub Kurma</b>
			<input type="text" class="txt" name="grubkur" id="grubkur" ondblclick="this.value='' " style="margin-right: 5px; width: 100px;"/>
			<select name="grubkursecim" id="grubkursecim"  style="width: 100px;" > 
			<option>evet</option>
			<option>hayir</option>
			</select><p><p>
			<div class=element>		
				<input type="submit" class="btn" name="kadkaydet" id="kadkaydet" value="AYARLARI KAYDET" tabindex="-1" /><p><p>
			</div>
			<br>
			<input id="mod" name="mod"  hidden value="{{mod}}" />
			<input id="calismalist" name="calismalist"  hidden value="" />
			<input id="kayitmodu" name="kayitmodu"  hidden value="{{kayitmodu}}" />
			<div class=element>
				<textarea id=calismakod name=calismakod value="" ondblclick=this.value='' style="font-size: 14px;margin-top: 3px;width:900px;height: 300px; color:white;background-color:red "></textarea>
			</div>
			</form>
			
		</div>
	</div>
</body>
</HTML>
