
<html rel="shortcut icon" href="ok.png">
<head>
<META http-equiv="content-type" contentType="text/html; charset=UTF-8">
<title>KOMUTAN - LINUX BİLİG BETİK SUNUCUSU</title>
<meta http-equiv="content-type" contentType="text/html; charset=UTF-8">
<link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="./static/bootstrap/css/styles.css" />
<link rel="stylesheet" href="/static/css/balloon.min.css">
<script src="../static/jquery.js"></script>
<script src="../static/jquery.min.js"></script>
<script src="../static/js/jquery-ui.js"></script>
<script src="../static/js/jquery.form.min.js"></script>
<script src="../static/js/jquery.blockUI.js"></script>
<script src="../static/js/jquery.tablesorter.min.js"></script>
<script src="../static/js/shortcut.js"></script>
<script src="{{url_for('static', filename='js/jquery.tablesorter.min.js')}}"></script>
<link rel="stylesheet"
	href="{{url_for('static', filename='css/table2.css')}}" type="text/css"
	id="" media="print, projection, screen">

</head>
<script>
	
</script>
<body>
	<div class=anasablon>
	<div class="ustpanel">
	<div class="ustpanel">
		<div data-balloon="Ana Menü" data-balloon-pos="down" class="col-xs-1"><a href="/"><h3><span class="glyphicon glyphicon-home beyaz"></span></h3></a></div>
		<div data-balloon="Milis Yazılım Deposu" data-balloon-pos="down" class="col-xs-1"><a href="/mpsModul"><h3><span class="glyphicon glyphicon-save beyaz"></span></h3></a></div>
		<div data-balloon="Komuta Merkezi" data-balloon-pos="down" class="col-xs-1"><a href="/komutaModul"><h3><span class="glyphicon glyphicon-wrench beyaz"></span></h3></a></div>
		<div data-balloon="Ağ Modülü" data-balloon-pos="down" class="col-xs-1"><a href="/agModul"><h3><span class="glyphicon glyphicon-signal beyaz"></span></h3></a></div>
		<div data-balloon="Servis Modülü" data-balloon-pos="down"  class="col-xs-1"><a href="/servisModul"><h3><span class="glyphicon glyphicon-cog beyaz"></span></h3></a></div>
		<div data-balloon="Komutan Güncelle" data-balloon-pos="down" class="col-xs-1"><a href="/komutanGuncelle"><h3><span class="glyphicon glyphicon-refresh beyaz"></span></h3></a></div>
		<div data-balloon="Oturumu Kapat" data-balloon-pos="down" class="col-xs-1"><a href="/cikis"><h3><span class="glyphicon glyphicon-remove beyaz"></span></h3></a></div>
		<span class="col-xs-12"></span>
		<br>
	</div>
	<br>
	<br>
	<br>
	<br>
	<h3 class="beyaz">Komutan Süreç Modülü</h3>
	<p class="beyaz">
	Süreç Modülü, ağ bağlantınızı dinleyen süreçleri görebilmenizi sağlayan bir modüldür.
	</p>
	<div id="raporalan" class="raporalan" tabindex="-1"></div>

</body>
</html>
