
<html rel="shortcut icon" href="ok.png">
<head>
<META http-equiv="content-type" contentType="text/html; charset=UTF-8">
<title>KOMUTAN - LINUX BİLİG BETİK SUNUCUSU</title>
<meta http-equiv="content-type" contentType="text/html; charset=UTF-8">
<link rel="stylesheet" href="./static/css/reset.css" />
<script src="../static/jquery.js"></script>
<script src="../static/jquery.min.js"></script>
<script src="../static/js/jquery-ui.js"></script>
<script src="../static/js/jquery.form.min.js"></script>
<script src="../static/js/jquery.blockUI.js"></script>
<script src="../static/js/jquery.tablesorter.min.js"></script>
<script src="../static/js/shortcut.js"></script>
<script src="{{url_for('static', filename='js/jquery.tablesorter.min.js')}}"></script>
<link rel="stylesheet"
	href="{{url_for('static', filename='css/table2.css')}}" type="text/css"
	id="" media="print, projection, screen">

</head>
<script>
	
</script>
<body>
	<h2>KOMUTAN SÜREÇ MODÜLÜ</h2>
	<hr noshade size="1">
	<div id="raporalan" class="raporalan" tabindex="-1"></div>

</body>
</html>
